
<body>
    <%= render 'shared/header' %>

    <main>
      <div class="fondo_forms">
        <div class="Bienvenida">
            <h1>¡Regístrate ya!</h1>
        </div>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="divform">
            <div>
              <input type="text" id="email" name="user[email]" placeholder="Email" class="input">
            </div>

            <div>
              <input type="password" id="password" name="user[password]" placeholder="Contraseña" class="input">
            </div>

            <div>
              <input type="password" id="password_confirmation" name="user[password_confirmation]" placeholder="Confirmar Contraseña" class="input">
            </div>

            <div>
              <input type="text" id="name" name="user[name]" placeholder="Nombre" class="input">
            </div>


            <%= f.label :image, class: "cssbuttons-io-button" do %>
              <svg viewBox="0 0 640 512" fill="#845BB3" height="1em" width="200px" xmlns="http://www.w3.org/2000/svg">
                <path d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-217c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39V392c0 13.3 10.7 24 24 24s24-10.7 24-24V257.9l39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0l-80 80z"></path>
              </svg>
              <%= f.file_field :image, accept: '.jpg, .jpeg, .png, .pdf', class: "subir-foto", onchange: "displayFileName(this)" %>
            <% end %>

            <button type="submit" class="custom-button">
              Sign Up
              <div class="arrow-wrapper">
                <div class="arrow"></div>
              </div>
            </button>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>

      <script>
        function displayFileName(fileInput) {
          var fileName = fileInput.files[0].name; 
          alert('Selected file: ' + fileName);
        }
      </script>
    </main>
</body>