<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Proyecto Grupo 37</title>
  </head>
  <body>
    <%= render 'shared/header' %>
    <main>
        <div class="div-botones-admin">
                <a href="/admin/productos">
                    <button class="selected">
                        Mostrar Productos
                        <div class="arrow-wrapper">
                            <div class="arrow"></div>
                        </div>
                    </button>
                </a>

                <a href="/admin/usuarios">
                    <button>
                        Mostrar Usuarios
                        <div class="arrow-wrapper">
                            <div class="arrow"></div>
                        </div>
                    </button>
                </a>

                <a href="/admin/intercambios">
                    <button>
                        Mostrar Intercambios
                        <div class="arrow-wrapper">
                            <div class="arrow"></div>
                        </div>
                    </button>
                </a>

                <a href="/admin/reportes">
                    <button>
                        Mostrar Reportes
                        <div class="arrow-wrapper">
                            <div class="arrow"></div>
                        </div>
                    </button>
                </a>
        </div>
        
        <section class="element-admin">
            <% if @productos.count > 0 %>
                <% @productos.each do |producto| %>
                    <div class="elements-admin">
                        <h2> Nombre Producto: <%= producto.nombre %></h2>
                        <p> Descripcion: <%= producto.descripcion %></p>
                        <div class="div-botones-admin-2">
                            <%= button_to "Editar", editar_producto_path(producto.id), method: :get%> <br>
                            <%= button_to "Eliminar", eliminar_producto_path(producto), method: :get%>
                        </div>
                    </div>
                <% end %>
            <% else %>
                <div class="btn">NO HAY PRODUCTOS</div>
            <% end %>
        </section>
    </main>